.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    border: solid #40BCD8;
    border-radius: 50px;
}

.imgConnexion {
    width: 10rem;
}

.titre {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.texteIntro {
    margin-bottom: 1rem;
}

.champInput {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 50%;
}

.validateBtn {
    background-color: #40BCD8;
    color: #ffffff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 1rem;
}

.interfaceBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}